~$ ex book 3.txt
~*
env/
APC key to idioms.docx
BD 11-21 and idioms.docx
idioms.html
idioms.xlsx
test_soup.py
analysis.xlsx
analysis.html
analysis-of-sbs-pāli-english-recitations.*
output_idioms.docx
output_analysis.html
output_idioms.html
.gitignore
BD ex book 3.*
